<ion-view view-title="Camera">
  <ion-content padding="true" class="camera">
<!-- 	  <button ng-click="takePicture()" class="button button-block button-primary">Take Photo</button> -->
	
	<button ui-sref="intro.onboard" class="button button-block button-primary">go to onboard</button>

	<div class="row">
	  <div class="col camera-working">
	  <img ng-show="working == 'uploading'" ng-src="img/onboard/ScanUploading.png">
	  <img ng-show="working == 'analyzing'" ng-src="img/onboard/ScanActive.png">
	  <img ng-show="working == 'success'" ng-src="img/onboard/ScanSuccess.png">
	  </div>
 
	</div>
  </ion-content>
</ion-view>
