<ion-view view-title="My Schedule" id="schedule">
  <div class="bar bar-subheader" id="courses-day-selector">
		<div class="button-bar">
			<!-- <a class="button" ng-click="getSchedule('1')">Mon</a> -->
			<a class="button" ui-sref="app.courses.day({day:1})" ng-class="{active: day == 1}">MON</a>
			<a class="button" ui-sref="app.courses.day({day:2})" ng-class="{active: day == 2}">TUE</a>
			<a class="button" ui-sref="app.courses.day({day:3})" ng-class="{active: day == 3}">WED</a>
			<a class="button" ui-sref="app.courses.day({day:4})" ng-class="{active: day == 4}">THU</a>
			<a class="button" ui-sref="app.courses.day({day:5})" ng-class="{active: day == 5}">FRI</a>
		</div>
	</div>
  
  	<ui-view name="courseDay"></ui-view>
  
</ion-view>